<% havent_already_voted = logged_in? && !current_user.already_voted_on?(comment.id, "Comment") %>

<li>
  <% if havent_already_voted %>
    <form class="vote" action="<%= upvote_url("Comment", comment.id) %>" method="post">
      <%= token_tag form_authenticity_token %>
      <button name="upvote">&#8593;</button>
    </form>
  <% end %>
  <a href="<%= user_url(comment.author) %>"><%= comment.author.username %></a>
  <small>
    <%= comment.points %> points
    <%= comment.created_at %>
  </small><br>

  <% if havent_already_voted %>
    <form class="vote" action="<%= downvote_url("Comment", comment.id) %>" method="post">
      <%= token_tag form_authenticity_token %>
      <button name="downvote">&#8595;</button>
    </form>
  <% end %>
  <%= comment.content %><br>

  <% new_url = new_post_comment_url(comment.post_id) %>
  <a href="<%= new_url %>?parent_id=<%= comment.id %>">Reply!</a><br>

  <% if current_user && current_user.id == comment.author_id %>
    <a href="<%= edit_comment_url(comment) %>">Edit!</a><br>
    <form action="<%= comment_url(comment) %>" method="post">
      <%= token_tag form_authenticity_token %>
      <input type="hidden" name="_method" value="DELETE">
      <button>DELETE!</button>
    </form>
  <% end %>
</li>

<ul>
  <%= render all_comments[comment.id], all_comments: all_comments %>
</ul>
