<%
if logged_in?
  up_action = upvote_url("Comment", comment.id)
  down_action = downvote_url("Comment", comment.id)
  method = "POST"
  vote_val = current_user.get_vote_value(comment.id, "Comment")
else
  up_action = down_action = new_session_url
  method = "GET"
  vote_val = 0
end
%>

<li>
  <form class="vote" action="<%= up_action %>" method="<%= method %>">
    <%= token_tag form_authenticity_token if method == "POST" %>
    <button <%= 'style=background:red' if vote_val == 1 %>>&#8593;</button>
  </form>
  <a href="<%= user_url(comment.author) %>"><%= comment.author.username %></a>
  <small>
    <%= comment.points %> points
    <%= comment.created_at %>
  </small><br>

  <form class="vote" action="<%= down_action %>" method="<%= method %>">
    <%= token_tag form_authenticity_token if method == "POST" %>
    <button <%= 'style=background:red' if vote_val == -1 %>>&#8595;</button>
  </form>
  <%= comment.content %><br>

  <% new_url = new_post_comment_url(comment.post_id) %>
  <a href="<%= new_url %>?parent_id=<%= comment.id %>">Reply!</a><br>

  <% if current_user && current_user.id == comment.author_id %>
    <a href="<%= edit_comment_url(comment) %>">Edit!</a><br>
    <form action="<%= comment_url(comment) %>" method="post">
      <%= token_tag form_authenticity_token %>
      <input type="hidden" name="_method" value="DELETE">
      <button>DELETE!</button>
    </form>
  <% end %>
</li>

<ul>
  <%= render all_comments[comment.id], all_comments: all_comments %>
</ul>
