<%
  if action == :newuser
    action_url = users_url
    submit_text = "Sign Up!"
  else
    action_url = session_url
    submit_text = "Log In!"
  end
%>

<h1><%= submit_text %></h1>

<%= render 'shared/errors' %>

<form action="<%= action_url %>" method="POST">

  <%= token_tag form_authenticity_token %>

  <label>Username
    <input type="text" name="user[username]" value="<%= user.username %>">
  </label>

  <br>

  <label>Password
    <input type="password" name="user[password]">
  </label>

  <br>

  <button><%= submit_text %></button>
</form>
