<a href="<%= railsroot_url %>">To Root</a><br>
<a href="<%=  subs_url %>">To Subs Index</a><br>

<% if current_user %>
  <section class="login-stuff">
    <h2><%= current_user.username %></h2>
    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <%= token_tag form_authenticity_token %>
      <button name="button">Log Out</button>
    </form>
    <br>
    Temp Debug Stuff
    <br>
    <u>User's Subzeddits</u>
    <ul>
      <% current_user.subzeddits.each do |subzeddit| %>
        <li>
          <a href="<%= sub_url(subzeddit) %>"><%= subzeddit.title %></a>
        </li>
      <% end %>
    </ul>
    <a href="<%= subs_url %>">To Subzeddits Index</a>
  </section>
<% else %>
  <section class="login-stuff">
    <a href="<%= new_session_url %>">Log In</a>
    <a href="<%= new_user_url %>">Sign Up</a>
  </section>
<% end %>
