<% c_user = current_user %>

<small>subs#show</small>

<h1><%= @sub.title %></h1>

<p><%= @sub.description %></p>

<% if c_user && c_user.id == @sub.owner_id %>
  <a href="<%= edit_sub_url(@sub) %>">Edit <%= @sub.title %></a><br>
  <form action="<%= sub_url(@sub) %>" method="post">
    <%= token_tag form_authenticity_token %>
    <input type="hidden" name="_method" value="DELETE">
    <button>DELETE THIS SUB</button>
  </form>
<% end %>

<a href="<%= root_url %>">Back to Root</a>
<br>

<br>
<% if c_user %>
  <%
  if c_user.is_subbed_to?(@sub.id)
    action = "DELETE"
    action_url = unsubscribe_sub_url(@sub.id)
    button_text = "UNSUBSCRIBE"
  else
    action = "POST"
    action_url = subscribe_sub_url(@sub.id)
    button_text = "SUBSCRIBE"
  end
  %>
  <form action="<%= action_url %>" method="post">
    <%= token_tag form_authenticity_token %>
    <input type="hidden" name="_method" value="<%= action %>">
    <button><%= button_text %></button>
  </form>
  <br><br>
  <a href="<%= new_sub_post_url(@sub.id) %>">Submit a new post</a><br>
<% end %>

<br><br>

<%= render @sub.posts.order(created_at: :desc), show_sub: false %>
