<% havent_already_voted = logged_in? && !current_user.already_voted_on?(post.id, "Post") %>

<% if havent_already_voted %>
  <form class="vote" action="<%= upvote_url("Post", post.id) %>" method="post">
    <%= token_tag form_authenticity_token %>
    <button name="upvote">&#8593;</button>
  </form>
<% end %>
<a href="<%= sub_post_url(post.sub_id, post.id) %>"><%= post.title %></a>
<small>(<%= post.points %> points)</small><br>

<% if havent_already_voted %>
  <form class="vote" action="<%= downvote_url("Post", post.id) %>" method="post">
    <%= token_tag form_authenticity_token %>
    <button name="downvote">&#8595;</button>
  </form>
<% end %>
<small>
  submitted at <%= post.created_at %>
  by <a href="<%= user_url(post.author_id) %>"><%= post.author.username %></a>
  <% if show_sub %>
    to <a href="<%= sub_url(post.sub_id) %>"><%= post.sub.title %></a>
  <% end %>
  <br>
</small>

<a href="<%= sub_post_url(post.sub_id, post.id) %>">
  <%= post.comments.count %> comments
</a>
<br><br>
