<%
if logged_in?
  up_action = upvote_post_url(post.id)
  down_action = downvote_post_url(post.id)
  method = "POST"
  vote_val = current_user.get_vote_value(post.id, "Post")
else
  up_action = down_action = new_session_url
  method = "GET"
  vote_val = 0
end
%>


<form class="vote" action="<%= up_action %>" method="<%= method %>">
  <%= token_tag form_authenticity_token if method == "POST" %>
  <button <%= 'style=background:red' if vote_val == 1 %>>&#8593;</button>
</form>

<a href="<%= sub_post_url(post.sub_id, post.id) %>"><%= post.title %></a>
<small>(<%= post.points %> points)</small><br>


<form class="vote" action="<%= down_action %>" method="<%= method %>">
  <%= token_tag form_authenticity_token if method == "POST" %>
  <button <%= 'style=background:red' if vote_val == -1 %>>&#8595;</button>
</form>

<small>
  submitted at <%= post.created_at %>
  by <a href="<%= user_url(post.author_id) %>"><%= post.author.username %></a>
  <% if show_sub %>
    to <a href="<%= sub_url(post.sub_id) %>"><%= post.sub.title %></a>
  <% end %>
  <br>
</small>

<a href="<%= sub_post_url(post.sub_id, post.id) %>">
  <%= post.comments.count %> comments
</a>
<br><br>
