<small>posts#show</small><br>

<%= render 'shared/login_status' %>

<br>

<%= render @post, show_sub: false %>

<p><%= @post.content %></p>

<% if current_user && current_user.id == @post.author_id %>
  <a href="<%= edit_post_url(@post) %>">Edit this post.</a><br>
  <form action="<%= post_url(@post) %>" method="post">
    <%= token_tag form_authenticity_token %>
    <input type="hidden" name="_method" value="DELETE">
    <button>DELETE THIS POST</button>
  </form>
<% end %>

<a href="<%= sub_url(@post.sub_id) %>">Return to sub.</a><br><br>
<a href="<%= new_post_comment_url(@post.id) %>">Comment on this Post!</a><br>

<ul>
  <%= render @all_comments[nil], all_comments: @all_comments %>
</ul>
