<%
var authorName = comment.escape('author_name');
%>

<button class="vote vote-up<%= (voteValue === 1) ? ' vote-on' : '' %>">&#8593;</button>
<a href="<%= '#user/' + authorName %>"><%= authorName %></a>
<small>
  <%= comment.get('points') %> points
  <%= comment.get('created_at') %>
</small>
<br>

<div>
  <button class="vote vote-down<%= (voteValue === -1) ? ' vote-on' : '' %>">&#8595;</button>
  <div class="comment-body"><%= comment.escape('content') %></div>
  <div class="edit-box hidden">
    <form class="edit-form">
      <textarea name="comment[content]"><%= comment.get("content") %></textarea>
      <br>
      <input type="submit" value="save">
    </form>
    <button class="edit-cancel">cancel</button>
  </div>
</div>

<small><strong>
  <% if (window.currentUser.id === comment.get("author_id")) { %>
    <a href="javascript:void(0)" class="edit">edit</a>
    <a href="javascript:void(0)" class="delete">delete</a>
  <% } %>
  <a href="javascript:void(0)" class="reply">reply</a>
</strong></small>

<div class="reply-box hidden">
  <form class="reply-form">
    <textarea name="comment[content]"></textarea>
    <br>
    <input type="submit" value="save">
  </form>
  <button class="reply-cancel">cancel</button>
</div>
