<% var authorName = post.escape('author_name'); %>
<% var subTitle = '#z/' + post.escape('sub_title'); %>


<button>&#8593;</button>
<%= post.escape('title') %>
<small>(<%= post.get('points') %> points)</small>
<br>

<button>&#8595;</button>
<small>
  submitted at <%= post.get('created_at') %>
  by <a href="<%= '#user/' + authorName %>"><%= authorName %></a>
  to <a href="<%= subTitle %>"><%= subTitle %></a>
</small>
<br>

<a href="<%= subTitle + "/posts/" + post.id + "/" + encodeTitle(post.get('title'))%>">
  <%= post.get('comment_count') %> comments
</a>
