<%
var authorName = post.escape("author_name");
var subTitle = "#z/" + post.escape("sub_title");
var pointsClass = "";
if (voteValue === 1) {
  pointsClass = "points-up";
} else if (voteValue === -1) {
  pointsClass = "points-down";
}
%>

<figure>
  <button class="vote vote-up<%= (voteValue === 1) ? ' vote-on' : '' %>"></button>
  <small class="<%= pointsClass %>"><%= post.get("points") %></small>
  <button class="vote vote-down<%= (voteValue === -1) ? ' vote-on' : '' %>"></button>
</figure>

<a href="#">
  <img src="http://static.simonscat.com/Images/Avatars/70/500_SimonsCat.png" alt="dummy"/>
</a>

<strong><a href="#"><%= post.escape("title") %></a></strong>

<small class="author-etc">
  submitted at <%= post.get("created_at") %>
  by <a href="<%= "#user/" + authorName %>"><%= authorName %></a>
  <% if (!isShowPage) { %>
    to <a href="<%= subTitle %>"><%= subTitle %></a>
  <% } %>
</small>
<br>

<% if (isShowPage) { %>

  <!-- <div id="post-content"> -->
  <p id="post-content"><%= post.escape("content") %></p>
  <!-- </div> -->
  <div id="post-edit" class="hidden">
    <form class="edit-form">
      <label>URL<br>
        <input type="text" name="post[url]" value="<%= post.get("url") %>"><br>
      </label>
      <label>Content<br>
        <textarea name="post[content]"><%= post.get("content") %></textarea><br>
      </label>
      <input type="submit" value="save">
    </form>
    <button>cancel</button><br>
  </div>

<% } %>

<small class="comments-etc">
  <a href="<%= subTitle + "/posts/" + post.id + "/" + encodeTitle(post.get("title"))%>">
    <%= post.get("comment_count") %> comments
  </a>

  <% if (window.currentUser.id === post.get("author_id")) { %>
    <% if (isShowPage) { %>
      <a href="javascript:void(0)" class="edit">edit</a>
    <% } %>
    <a href="javascript:void(0)" class="delete">delete</a>
  <% } %>
</small>

<% if (isShowPage) { %>
  <form class="new-comment-form">
    <textarea name="comment[content]"></textarea><br>
    <input type="submit" value="save">
  </form>
<% } %>
