<%
  var buttonText, subTitle, subDescrip;
  if (post) {
    buttonText = "Edit Subzeddit: " + post.escape("title");
    postTitle = post.get("title");
    postUrl = post.get("url");
    postContent = post.get("content");
  } else {
    buttonText = "Create Subzeddit";
    postTitle = "";
    postUrl = "";
    postContent = "";
  }
%>

<h3><%= buttonText %></h3>

<ul></ul>

<form>

  <label>Title<br>
    <input type="text" name="post[title]" value="<%= postTitle %>">
  </label>

  <br><br>

  <label>URL<br>
    <input type="text" name="post[url]" value="<%= postUrl %>">
  </label>

  <br>

  <label>Content<br>
    <textarea name="post[content]"><%= postContent %></textarea>
  </label>

  <br>

  <label>Subzeddit<br>
    <input type="text" name="post[sub_id]" value="<%= "" %>">
  </label>

  <br><br>

  <button><%= buttonText %></button>
</form>

<br><br>
