<%
var authorName = post.escape("author_name");
var subTitle = "#z/" + post.escape("sub_title");
var pointsClass = "";
if (voteValue === 1) {
  pointsClass = "points-up";
} else if (voteValue === -1) {
  pointsClass = "points-down";
}
var createdAt = $.timeago(post.get("created_at"));
%>

<figure>
  <button class="vote vote-up<%= (voteValue === 1) ? ' vote-on' : '' %>"></button>
  <small class="<%= pointsClass %>"><%= post.get("points") %></small>
  <button class="vote vote-down<%= (voteValue === -1) ? ' vote-on' : '' %>"></button>
</figure>

<a href="#">
  <img src="http://static.simonscat.com/Images/Avatars/70/500_SimonsCat.png" alt="dummy"/>
</a>

<strong><a href="#"><%= post.escape("title") %></a></strong>

<small class="author-etc">
  submitted <%= createdAt %>
  by <a href="<%= "#user/" + authorName %>"><%= authorName %></a>
  <% if (!isShowPage) { %>
    to <a href="<%= subTitle %>"><%= subTitle %></a>
  <% } %>
</small>

<% if (isShowPage) { %>

  <p id="post-content"><%= post.escape("content") %></p>

  <div id="post-edit" class="hidden">
    <form class="edit-form">
      <input class="form-input" type="text" name="post[url]" value="<%= post.get("url") %>" placeholder="URL">
      <textarea class="form-input" name="post[content]"><%= post.get("content") %></textarea>
      <button class="btn">save</button>
    </form>
    <button class="edit-cancel btn">cancel</button>
  </div>

<% } %>

<small class="comments-etc">
  <a href="<%= subTitle + "/posts/" + post.id + "/" + encodeTitle(post.get("title"))%>">
    <%= post.get("comment_count") %> comments
  </a>

  <% if (window.currentUser.id === post.get("author_id")) { %>
    <% if (isShowPage) { %>
      <a href="javascript:void(0)" class="edit">edit</a>
    <% } %>
    <a href="javascript:void(0)" class="delete">delete</a>
  <% } %>
</small>

<% if (isShowPage) { %>
  <h3>
    <% if (post.get("comment_count") > 0) { %>
      all <%= post.get("comment_count") %> comments
    <% } else { %>
      no comments (yet)
    <% } %>
  </h3>

  <form class="new-comment-form">
    <textarea class="form-input" name="comment[content]"></textarea>
    <input class="btn" type="submit" value="save">
  </form>
<% } %>
