<!DOCTYPE html>
<html>
<head>
  <title>Zeddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="<%= root_url %>">To Root</a><br><a href="<%=  subs_url %>">To Subs Index</a><br>

  <%= render 'shared/login_status' %>

  <%= yield %>

</body>
</html>
